* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;

  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("hats.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ajusta el color del texto según sea necesario */
}

.container {
  /*140*/
  padding: 0;
  margin: 0 auto;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Ajusta estilos adicionales según sea necesario */
  text-align: center;
}

.hero {
  border-radius: 50%;
  max-width: 100%;
}

.title-main,
.subtitle {
  margin-top: 1.2rem;
}

.hero-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600; /* Semibold */
  font-size: 3.4rem;
}

.sub-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600; /* Semibold */
  font-size: 1.4rem;
}

.instagram-logo,
.whatsapp-logo,
.facebook-logo,
.ubication-logo {
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción original */
  margin-right: 10px; /* Espaciado entre la imagen y el texto (opcional) */
}

.social-media-links {
  margin-top: 2rem;
}

.grid {
  display: grid;
  gap: 5.6rem;
}
/*Para hacer columnas reutilizables el primer parametro de repeat es la cantidad de columnas */
.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}

.main-nav-list {
  list-style: none;
  align-items: center;
  gap: 1.6rem; /* Ajustado para un espacio más pequeño en dispositivos más pequeños */
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 3.2rem; /* Ajustado para un padding más pequeño en dispositivos más pequeños */
  border-radius: 9px;
  color: black;
  background-color: #f8f8f8;
  font-weight: 500;
  font-size: 2.4rem; /* Ajustado para un tamaño de fuente más pequeño en dispositivos más pequeños */
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Estilos para pantallas más grandes (ajusta según tus necesidades) */
@media screen and (min-width: 768px) {
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.5rem 3.2rem; /* Ajusta el padding para pantallas más grandes */
    font-size: 1.6rem; /* Ajusta el tamaño de fuente para pantallas más grandes */
  }
}

@media screen and (min-width: 1024px) {
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 2rem 4.2rem; /* Ajusta el padding para pantallas aún más grandes */
    font-size: 1.8rem; /* Ajusta el tamaño de fuente para pantallas aún más grandes */
  }
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #ddd;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; /* Espaciado entre elementos de lista (opcional) */
}
